body{
  background-color:#bdedfc;
}

div{
  background-color:#c6f4f5;
}
.footer{
  background-color:#d5f5ec;
  text-align:justify;
}
.content span{
  text-align:center;
  color:white;
  font-weight:900;
  font-size:24px;
}
p+p{
  font-style:italic;
}

.content p{
  text-align:justify;
  
}
h4::before{
  content: "Hello";
  color:green;
  font-weight:bold;
}
h5::after{
  content: "Bye!";
  color:green;
  font-weight:bold;
}
h3:hover{
  color:gray;
  font-style:italic;
}
a:link{
  color:red;
}
a:visited{
  color:black;
}
.vis{
  visibility:hidden;
}
.block{
  display: block;
}
.op2{
  opacity:0.5;
}
.inline {
  display: inline;
}
