body{
  background-color:#bdedfc;
}

div{
  background-color:#c6f4f5;
}
.footer{
  background-color:#d5f5ec;
  text-align:justify;
}
.content span{
  text-align:center;
  color:white;
  font-weight:900;
  font-size:24px;
}
p+p{
  font-style:italic;
}

.content p{
  text-align:justify;
  
}
