body{
  background-color:#bdedfc;
}

div{
  background-color:#c6f4f5;
  padding:5px;
  margin:10px;
}
.footer{
  background-color:#d5f5ec;
  text-align:justify;
}
.content span{
  text-align:center;
  color:white;
  font-weight:900;
  font-size:24px;
}
p+p{
  font-style:italic;
}

.content p{
  text-align:justify;
  
}
h4::before{
  content: "Hello";
  color:green;
  font-weight:bold;
}
h5::after{
  content: "Bye!";
  color:green;
  font-weight:bold;
}
h3:hover{
  color:gray;
  font-style:italic;
}
a:link{
  color:red;
}
a:visited{
  color:black;
}
.vis{
  visibility:hidden;
}
.block{
  display: block;
}
.op2{
  opacity:0.5;
}
.inline {
  display: inline;
}
img{
  filter: grayscale(50%);
  position: relative;
  width:160px;
  height:90x;
  left:50px;
  animation: image 3s;
}
img:hover{
  width:240px;
  height:135x;
  
}
@keyframes image {
  from {left:1000px;}
  to {left:50px}
}
